.heading{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: darkslategrey;
}
.banner{
    width: 100%;
    height: 320px;
    object-fit: cover;    
}
h2{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: normal;
    color: darkslategrey;
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: darkslategrey;
}

.container{
    width: 720px;
    margin: 0 auto 0 auto;
}
.contactus{
    display: block; /* Makes the button a block element */
    margin: 0 auto; /* Centers horizontally */
    background-color: darkgray;
}
.copyright{
    font-family:"Roboto", sans-serif;
    font-size: xx-small;
    text-align: center;
}
.jobdetails{
    border-bottom: 1px solid #f1f1f1;
    padding-bottom:  8px;
}
.jobtitle{
    font-family: "Roboto", sans-serif;
    font-size: larger;
    color: darkgray;
    margin-bottom: auto;
    
}
.joblocation{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    color: darkslategrey;
    margin-bottom: auto;
}
.jobsalary{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    color: darkslategrey;
    margin-bottom: auto;
}
